@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AqchJ2eCzJffRf00lcbJAvGU-2Hqp4R5S5MRu3-fnpbxqSVv46irLTE9jro1-g2L' async defer></script>

<div class="text-center" onload="GetMap();">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> Insert a nice Map below: </p>

    <div id="bing-map">
        <div id="myMap" style='position:relative;width:600px;height:400px;'></div>
        <div id="testwindow">"not started yet"</div>
    </div>
</div>

<script type="text/javascript">
   function GetMap()
   {
    var map = new Microsoft.Maps.Map('#myMap');
    Microsoft.Maps.Events.addHandler(map, 'click', function() {document.getElementById('testwindow').innerHTML="clicked window"; create_pushpin(map);});
   }
</script>
